<!-- ! ****REVIEW AGAIN LATER YA OSAMA**** -->

<section class="bg-main-2 ">
    <div class="container">
      <div class="card mx-auto bg-main-2 border-0 " >


        <div class="avatar  mb-3 text-center">
          <img src="./assets/avataaars.svg" alt="avatar photo" class="img-fluid rounded-circle mx-auto" >
        </div>
  
        <h1 class="text-uppercase fw-bold text-center pt-3 text-white">start Framework</h1>
        <app-star></app-star>
  

        <div class="text-center text-white ">
          Graphic Artist - Web Designer - Illustrator
        </div>
      </div>
    </div>
  </section>
  