<nav class="navbar navbar-expand-lg bg-main-1 ">
    <div class="container py-3 ">
      <a class="navbar-brand text-white fw-bolder fs-2 text-uppercase" routerLink="">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item bg-main-1 p-2">
            <a class="nav-link text-white fw-bold fs-6 text-uppercase" routerLink="about" routerLinkActive="bg-main-2 width-fit  p-2 rounded">About</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-white fw-bold fs-6 text-uppercase" routerLink="portfolio" routerLinkActive="bg-main-2 width-fit p-2 rounded">Portfolio</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-white fw-bold fs-6 text-uppercase" routerLink="contact" routerLinkActive="bg-main-2 width-fit p-2 rounded">Contact</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>