/* You can add global styles to this file, and also import other style files */
:root{
    --main-color-1:#2C3E50;
    --main-color-2:#1ABC9C;
    --main-color-3:#1A252F;
}

.bg-main-1{
    background-color: var(--main-color-1);
}
.bg-main-2,
.btn-main-2
{
    background-color: var(--main-color-2);
}
.bg-main-3{
    background-color: var(--main-color-3);
}
.text-main-1{
    color: var(--main-color-1);
}
.text-main-2{
    color: var(--main-color-2);
}



