<div class="parent bg-main-1 py-5">
    <div class="container ">
        <div class="row py-5">
            <div class="col-12 col-sm-4 p-3">
                <div class="card text-white bg-transparent text-center border-0">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 p-3">
                <div class="card text-white bg-transparent text-center border-0">
                    <h3>AROUND THE WEB</h3>
                    <div class="icons ">
                        <i class="fa-brands fa-facebook p-2 border m-2  rounded-5"></i>
                        <i class="fa-brands fa-twitter p-2 border m-2 rounded-5"></i>
                        <i class="fa-brands fa-linkedin p-2 border m-2 rounded-5"></i>
                        <i class="fa-solid fa-globe p-2 border m-2 rounded-5"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 p-3">
                <div class="card text-white bg-transparent text-center border-0">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
            
            
            
        </div>
        
    </div>
</div>
<div class="row text-center text-white bg-main-3 p-4 m-0">
    <p class="m-0">Copyright © Your Website 2021</p>
</div>
